# Exploratory Data Analysis Theory Digital Assignment

- **Name**: *Pushkar Kumar Gautam*
- **Registration Number**: *21BDS0049*
- **Course Name**: *Exploratory Data Analysis*
- **Slot**: *C1*
- **GitHub Link**: https://github.com/kumargautampushkar/EDA_theory_DA_vit

---
---

## Module 1 Introduction to Exploratory Data Analysis

In [5]:
import numpy as np
import pandas as pd
import os

cwd = os.getcwd()
print(cwd)
"Dataset\auto-mpg.csv"

# for windows
df_path = os.path.join(cwd,"Dataset\\auto-mpg.csv")

# for linux
df_path = os.path.join(cwd,"Dataset/auto-mpg.csv")

df = pd.read_csv(df_path)

f:\coding\sem_7_acad\EDS_theory\EDA_theory_DA_vit

In [8]:
display(df.head())
display(df.sample(5))

display(df.info())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
150,26.0,4,108.0,93,2391,15.5,74,3,subaru
295,35.7,4,98.0,80,1915,14.4,79,1,dodge colt hatchback custom
370,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
367,28.0,4,112.0,88,2605,19.6,82,1,chevrolet cavalier

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

None

---
---

## Module 2 Data Transformation